- content_for :title, t("blacklists.index.title")

= form_tag blacklists_path, method: :get, class: "well form-inline" do
  = text_field_tag :q, @term, class: "form-control", placeholder: t("blacklists.index.search_ph")
  = submit_tag t("global.button.filter"), class: "btn btn-primary"
  = link_to t("blacklists.index.new"), new_blacklist_path, class: "btn btn-danger"

%table.table.table-striped
  %thead
    %tr
      %th= t("blacklists.fields.last_name")
      %th= t("blacklists.fields.first_name")
      %th= t("blacklists.fields.matricule")
      %th= t("blacklists.fields.email")
      %th= t("blacklists.fields.phone")
      %th= t("blacklists.fields.reference")
      %th
  %tbody
    - if @entries.empty?
      %tr
        %td{colspan: 7}= t("blacklists.index.empty")
    - @entries.each do |b|
      %tr
        %td= b.last_name
        %td= b.first_name
        %td= b.matricule_scout
        %td= b.email
        %td= b.phone_number
        %td= "#{b.reference_name} (#{b.reference_phone_number})"
        %td
          = link_to t("global.link.edit"), edit_blacklist_path(b), class: "btn btn-default btn-xs"
          = link_to t("global.link.delete"), blacklist_path(b), method: :delete,
              data: {confirm: t("global.confirm_delete")}, class: "btn btn-danger btn-xs"
